<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title></title>
    <link rel="stylesheet" href="{CSS_PATH}/basic.css" />
    <script type="text/javascript" src="{JS_PATH}/rem.js"></script>
    <link rel="stylesheet" type="text/css" href="{CSS_PATH}/c-main.css"/>
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_tgrlk8guf7833di.css" />
    <script type="text/javascript">
    	
   		document.addEventListener('plusready', function(){
   			//console.log("所有plus api都应该在此事件发生后调用，否则会出现plus is undefined。"
   		
   		});
   	
    </script>
</head>
<body>
	<header>
		<div class="mb">
			<div class="back">
				<i class="iconfont icon-jiantou"></i>
			</div>
			<div class="title">
				EVERDAY NEWS HERE
			</div>
			<div class="fgxian">
			</div>
			<div class="zixun">
				<div class="zxsx">资讯为您筛选中</div>
				<div class="yuan yuan1"></div>
				<div class="yuan yuan2"></div>
				<div class="yuan yuan3"></div>
			</div>
		</div>
		<div class="sousuo">
			<div class="zi">WANT  TO  GO...</div>
			<div class="ssyuan"></div>
			<div class="ssyuan"></div>
			<input type="text" class="kuang" name="" id="" value=""/>
			<div class="y y01">
				<div class="y1"></div>
				<div class="y2"></div>
				<div class="y3"></div>
			</div>
			<i class="iconfont icon-voice_icon"></i>
			<div class="y y02">
				<div class="y3" style="margin-right: 0.1rem;"></div>
				<div class="y2"></div>
				<div class="y1" style="margin-right: 0.01rem;"></div>
			</div>
		</div>
	</header>
	<main>
		<div class="m-header">
			<div class="zbywt">ZHOUBIANYOU</div>
			<div class="zbhyt">周边分类</div>
			<div class="yuanj"></div>
		</div>
		<div class="con">
			<!--<div class="yuanjiao"></div>-->
			<ul class="nr">
				<li>
					<div class="tu"></div>
					<div class="tit">
						<div class="hanyu">自驾游</div>
						<div class="yingyu">ZIJIAYOU</div>
					</div>
				</li>
				<li>
					<div class="tu"></div>
					<div class="tit">
						<div class="hanyu">跟团游</div>
						<div class="yingyu">GENTUAN</div>
					</div>
				</li>
				<li>
					<div class="tu"></div>
					<div class="tit">
						<div class="hanyu">主题乐园</div>
						<div class="yingyu">ZHUTILE</div>
					</div>
				</li>
				<li>
					<div class="tu"></div>
					<div class="tit">
						<div class="hanyu">旅游攻略</div>
						<div class="yingyu">LVYOU</div>
					</div>
				</li>
				<li>
					<div class="tu"></div>
					<div class="tit">
						<div class="hanyu">景区介绍</div>
						<div class="yingyu">JINGQUJIE</div>
					</div>
				</li>
				<li>
					<div class="tu"></div>
					<div class="tit">
						<div class="hanyu">超值优惠</div>
						<div class="yingyu">CHAOZHI</div>
					</div>
				</li>
			</ul>
			<div class="yjx"></div>
			<div class="yjx1"></div>
			<div class="yjx2"></div>
			<div class="yjx3"></div>
		</div>
		
		<div class="m-header">
			<div class="zbywt">ZHOUBIANYOU</div>
			<div class="zbhyt">热门推荐</div>
			
		</div>
		<div class="tuijian-con">
			<ul class="tuijiannr">
				<li class="remen">
					<div class="left-tu"></div>
					<div class="right-box">
						<div class="right-title">山西崇宁岛温泉酒店一晚+双人游</div>
						<div class="right-title1">班期：劳动节、周一至周日</div>
						<ul class="xing">
							<li></li>
							<li></li>
							<li></li>
						</ul>
						<div class="shop">月售10单</div>
						<div class="first">
							<div class="shouzi">首
								<!--<span>首</span>-->
							</div>
							<div class="xinyh">新用户立减200元</div>
						</div>
						<div class="qian">
							<div class="rmb">￥</div>
							<span class="yiqianliu">1600</span>
							<div class="dizhi"><i class="iconfont icon-dizhi"></i></div>
							<div class="where">TaiYuan.S.X</div>
							
							<ul class="touxiang">
								<li></li>
								<li></li>
								<li></li>
							</ul>
							<div class="num">4512</div>
						</div>
					</div>
				<li class="remen">
					<div class="left-tu"></div>
					<div class="right-box">
						<div class="right-title">山西崇宁岛温泉酒店一晚+双人游</div>
						<div class="right-title1">班期：劳动节、周一至周日</div>
						<ul class="xing">
							<li></li>
							<li></li>
							<li></li>
						</ul>
						<div class="shop">月售10单</div>
						<div class="first">
							<div class="shouzi">首
								<!--<span>首</span>-->
							</div>
							<div class="xinyh">新用户立减200元</div>
						</div>
						<div class="qian">
							<div class="rmb">￥</div>
							<span class="yiqianliu">1600</span>
							<div class="dizhi"><i class="iconfont icon-dizhi"></i></div>
							<div class="where">TaiYuan.S.X</div>
							
							<ul class="touxiang">
								<li></li>
								<li></li>
								<li></li>
							</ul>
							<div class="num">4512</div>
						</div>
					</div>
				</li>
				<li class="remen">
					<div class="left-tu"></div>
					<div class="right-box">
						<div class="right-title">山西崇宁岛温泉酒店一晚+双人游</div>
						<div class="right-title1">班期：劳动节、周一至周日</div>
						<ul class="xing">
							<li></li>
							<li></li>
							<li></li>
						</ul>
						<div class="shop">月售10单</div>
						<div class="first">
							<div class="shouzi">首
								<!--<span>首</span>-->
							</div>
							<div class="xinyh">新用户立减200元</div>
						</div>
						<div class="qian">
							<div class="rmb">￥</div>
							<span class="yiqianliu">1600</span>
							<div class="dizhi"><i class="iconfont icon-dizhi"></i></div>
							<div class="where">TaiYuan.S.X</div>
							
							<ul class="touxiang">
								<li></li>
								<li></li>
								<li></li>
							</ul>
							<div class="num">4512</div>
						</div>
					</div>
				</li>
				<li class="remen">
					<div class="left-tu"></div>
					<div class="right-box">
						<div class="right-title">山西崇宁岛温泉酒店一晚+双人游</div>
						<div class="right-title1">班期：劳动节、周一至周日</div>
						<ul class="xing">
							<li></li>
							<li></li>
							<li></li>
						</ul>
						<div class="shop">月售10单</div>
						<div class="first">
							<div class="shouzi">首
								<!--<span>首</span>-->
							</div>
							<div class="xinyh">新用户立减200元</div>
						</div>
						<div class="qian">
							<div class="rmb">￥</div>
							<span class="yiqianliu">1600</span>
							<div class="dizhi"><i class="iconfont icon-dizhi"></i></div>
							<div class="where">TaiYuan.S.X</div>
							
							<ul class="touxiang">
								<li></li>
								<li></li>
								<li></li>
							</ul>
							<div class="num">4512</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</main>
</body>
</html>