<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <title>Document</title>
    <script src="{JS_PATH}/rem.js"></script>
    <script src="{JS_PATH}/jquery.js"></script>
    <script src="{JS_PATH}/mui.min.js"></script>
    <script src="{JS_PATH}/xiangqing.js"></script>
    <link rel="stylesheet" href="{CSS_PATH}/bootstrap.css">
    <link rel="stylesheet" href="{CSS_PATH}/mui.min.css">
    <link rel="stylesheet" href="{CSS_PATH}/xiangqings.css">

</head>
<body>
<div class="xk-head">
    <div class="xk-firstline">
        <div class="exit"></div>
        <div class="xk-fl-zuo"></div>
        <div class="fl-wenzi">产品详情</div>
        <div class="xk-fl-you"></div>
        <div class="share"></div>
    </div>
    <div class="xk-tl">
        <div class="tl-wenzi">PRODUCT DETAILS</div>
    </div>
    <div class="xk-threel">
        <div class="xk-thr1">TRAVEL WITH PASSION</div>
        <div class="xk-thr2">B E S T T R A V E L</div>
        <div class="xk-thr4"><span>———</span> •</div>
        <div class="xk-thr3">旅行•充满激情</div>
    </div>
</div>
<div class="xk-title">
    <div class="xk-timg">
        <img src="{IMG_PATH}/xk-sirenlogo.png" alt="">
    </div>
    <div class="xk-t-wz">
        <div class="black-wz">BESTTRAVEL</div>
        <div class="ddd-wz">私人订制优惠旅行</div>
        <div class="ccc-wz">
            <div class="from">Hainan.S.X</div>
            <div class="to">BeiJing.S.X</div>
            <div class="caidan">2343534545</div>
        </div>
    </div>
</div>
<div class="xk-message">
    <div class="xk-m-title">海南网定制往返实惠出行</div>
    <div class="m-message">
        <div class="like">4DAY,3NIGHT</div>
        <div class="sale">90%,OFF</div>
        <div class="rmb">2400.00</div>
    </div>
    <div class="m-content">
        <div class="neirong">
            <div class="name">出发地点</div>
            <div class="englishname">MEETING PALACE</div>
            <div class="chufa shuju">北京</div>
        </div>
        <div class="neirong">
            <div class="name">目的地点</div>
            <div class="englishname">DISIT ACTION</div>
            <div class="daoda shuju">海南 羽织轴 天堂</div>
        </div>
        <div class="neirong">
            <div class="name">出发时间</div>
            <div class="englishname">DEPARTURE TIME</div>
            <div class="chufatime shuju">4月28日、4月29日多日出发</div>
        </div>
        <div class="neirong">
            <div class="name">交通信息</div>
            <div class="englishname">TRAFFIC MESSAGE</div>
            <div class="traffic shuju">飞机去、飞机回</div>
        </div>

    </div>

</div>
<div class="notice">
    <div class="noticeimg"></div>
    <div class="n-con">
        请注意：多程机票需严格按行程顺序使用，如任意一段未使用则后续航段均无法使用。
    </div>
</div>
<div class="xk-details">
    <div class="buttons">
        <div class="button1 button"><span class="hanzi">路线详情</span><span class="eng">ROUTEDETAIL</span></div>
        <div class="button1"><span class="hanzi">用户评价</span><span class="eng">USEREVALUTION</span></div>
    </div>
    <div class="details-content">
        <div class="details-con-title">
            <img src="{IMG_PATH}/xk-titlebg.png" alt="">
            <div class="chi">路线详情</div>
            <div class="enli">ROUTE INTROCTION</div>
            <div class="concon"></div>
        </div>
    </div>
</div>
<footer>
    <div class="foot-button">
        <img src="{IMG_PATH}/xk-shoucang.png" alt="" style="left: 0.4rem;">
        收藏</div>
    <div class="foot-button">
        <img src="{IMG_PATH}/xk-lianxi.png" alt="">
        联系客服</div>
    <div class="foot-button choose">
        <img src="{IMG_PATH}/xk-dinggou.png" alt="">
        立即预订</div>
</footer>
</body>
</html>