<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="{CSS_PATH}/bootstrap.min.css">
    <script src="{JS_PATH}/jquery.min.js"></script>
    <style>
        td{
            text-align: center;
        }
        input{
            width:100%;
            height:100%;
            background:none;
            outline:none;
            border: 0;
            float: left;
        }
    </style>
</head>
<body>
<form action="index.php?m=admin&f=shop&a=addfl" method="post">

    <table class="table table-bordered">
        <tr>
            <td>分类</td>
            <td>name</td>
            <td>Ename</td>
            <td>xingji</td>
            <td>操作</td>
        </tr>
        <tr>
            <td>
                <select name="pid" id="" >
                    <option value="0"  selected>一级分类</option>
                </select>
            </td>
            <td ><input type="text" name="name"></td>
            <td ><input type="text" name="Ename"></td>
            <td ><input type="text" name="xingji"></td>

            <td><input type="submit" value="提交"></td>
        </tr>

    </table>
</form>
</body>
<script>
    var arr=[];
    {foreach $re as $v}
    arr.push({
        id:{$v["id"]},
        name:'{$v["name"]}',
        pid:{$v["pid"]}

    });
    {/foreach}
    var a=0;
    var arrr=[];
    function getTree(pid,a){
        a++;
        arr.forEach(function(e,i){
//            console.log(e["pid"]);
            if(e["pid"]==pid){

                e["a"]=a;
                cid=e["id"];
                arrr.push(e);
                getTree(cid,a);
            }

        })
    }
    getTree(0,0);


        arrr.forEach(function(e,i){
            var L="";
            for (var i=0;i<e["a"];i++){
                L+="L";
            }
           var a='<option value='+e['id']+'>'+L+e['name']+'</option>';
           $("select").append(a);

        })
</script>
</html>