@font-face {
    font-family: 'iconfont';  /* project id 372136 */
    src: url('//at.alicdn.com/t/font_qt3swqm94b0ozuxr.eot');
    src: url('//at.alicdn.com/t/font_qt3swqm94b0ozuxr.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_qt3swqm94b0ozuxr.woff') format('woff'),
    url('//at.alicdn.com/t/font_qt3swqm94b0ozuxr.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_qt3swqm94b0ozuxr.svg#iconfont') format('svg');
}